body {
    background-color: rgb(32, 31, 31);
}
h1, h2 {
    color: white;
}
img {
    color: azure;
    padding: 20px;
    justify-content: center;
}

.center {
    text-align: center;
}

/* .movie-poster, .movie-votes, .movie-title{
    border-style: solid;
    border-color: white;

    display: grid;


} */

.movie-poster {
    border-style: solid;
    border-color: white;
    
}



#intro {
    display: flex;
    justify-content: center;
}
#logo {
    width: 50px;
    height: 50px;
    padding: 20px;
}

