.product-card {
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-weight: bold;
}

.image {
    cursor: pointer;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    max-width: 300px;
    height: 300px;
    border-radius: 25px;
    
    z-index: 1;
    width: 100%;
    /* padding-bottom: 150%; */
    perspective: 1000px;   
}

.add, .remove {
    width: 30px;
    height: 20px;
}


.product-price, .product-name {
    padding-left: 50px;

}
.add-remove-btns {
    display: flex;
}